#id-hint-display {
  position: fixed;
  padding: 6px 10px;
  border-radius: 4px;
  font-family: monospace;
  font-size: 14px;
  z-index: 100000;
  pointer-events: none;
  user-select: all;
  display: flex;
  flex-direction: row;
  column-gap: 8px;
}

#tag-display {
  font-weight: 700;
}
