#popup-body {
  width: 300px;
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tab-btn {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tab-btn:hover {
  background-color: #ddd;
}

.tab-btn.active {
  background-color: #ccc;
}

.tab-content {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  flex-grow: 1;
}

.tab-content.active {
  display: block;
}

.setting-section-heading {
  padding: 0;
  margin: 8px 0;
}

.setting-section-content {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 4px;
}

.setting-section-item {
  display: grid;
  grid-template-columns: auto 120px;
  align-items: start;
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
